body {
    background: #251f47;
    background: radial-gradient(circle,rgba(37, 31, 71, 1) 0%, rgba(4, 4, 23, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    font-family: "Parkinsans", sans-serif;
}

#selector {
    width: 450px;
    height: 200px;
    background-color: rgb(39, 32, 69);
    outline: 10px solid rgba(4, 4, 23, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/tape.svg');
    background-size: cover;
    background-position: center;
    font-size: 1em;
    transition: translate 0.5s ease;
    z-index: 0;
    position: absolute;
    top: 90px;
}

#selector select {
    width: 40%;
    height: 15%;
}

#selector:hover, #selector:focus {
    translate: 0 -60px;
}

#selector p {
    font-size: 0.75em;
    margin: 0;
}

#selector a {
    color:rgb(79, 32, 74);
}

#tv {
    background-color: rgb(0, 0, 0);
    outline: 20px solid rgb(39, 32, 69);
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px -5px 8px rgba(4, 4, 23, 1));
    z-index: 1;
    margin-top: 17%;
}

#tv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#tv p {
    color: white;
    font-size: 1.5em;
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0;
    filter: drop-shadow(0px 2px 3px rgba(4, 4, 23, 1));
}

#graphic {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35%;
    z-index: 2;
}

.container {
  width: 56px;
  height: 100%;
  position: absolute;
  border: solid 1px black;
  display: inline-block;
  top: 0;
}

#reel1 {
    left: 10px;
}

#reel2 {
    right: 10px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg:before, .bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/reel.jpg');
    background-size: 100%;
    background-repeat: repeat;
    background-size: cover;
    animation: move 30s infinite linear;
}

.bg:before {
    bottom: 100%;
}

@keyframes move {
    from {transform: translateY(  0%);}
      to {transform: translateY(100%);}
}