body {
    background-color: rgb(255, 249, 240);
    max-width: 600px;
    margin: auto;
    padding: 100px 0;
}
h1, h4 {
    margin: 0;
}
p {
    margin: 0.5em 0;
}
h1, h4, p {
    color: rgb(50, 38, 38);
    font-family: "Outfit", sans-serif;
}
li {
    color: rgb(50, 38, 38);
}
a {
    color:rgb(229, 37, 37)
}
img {
    display: block;
    max-width: 600px;
}