/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* end Resets */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    color: #333;
    background-color: rgb(255, 249, 240);
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #e52525;
    font-weight: bold;
    border-bottom: 2px solid #e52525;
    text-align: center;
    padding: 10px;
    transition: all 0.2s;
}

nav ul li a:hover {
    color: rgb(255, 249, 240);
    background-color: #e52525;;
}

header, footer {
    background-color: rgb(252, 233, 221);
}

header, section, footer {
    padding: 20px;
}

section:nth-child(even){
    background-color: rgb(255, 244, 237);
}

.container {
    max-width: 1000px;
}

h1, h2 {
    margin-bottom: .5em;
}

p {
    line-height: 1.4em;
    margin-bottom: 1em;
}

ol li {
    margin-bottom: 1em;
}

img {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container{ margin: auto; }
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
    .content { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

address a, footer a, span {
    color: #e52525;
    text-decoration: none;
}

a:hover {
    transition: all 0.2s;
    font-weight: 800;
}